<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Contacts
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.75" pullMin="60" pullMax="50">
        <ion-refresher-content
            pullingText="Glisser pour rafraîchir"
            refreshingSpinner="circles"
            refreshingText="Rechargement...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid class="flex ion-justify-content-center ion-align-items-center">
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <!--            <ion-col size="12" class="flex ion-justify-content-center">-->
            <!--                <ion-button size="large" (click)="goTo('addfriend')">Ajouter un contact</ion-button>-->
            <!--            </ion-col>-->
            <ion-col size="12">
                <ion-list *ngIf="user !== null && user !== undefined">
                    <!-- User has contacts -->
                    <ng-container *ngFor="let friend of user.friends">
                        <ion-item class="item ios in-list ion-focusable item-label hydrated"
                                  [ngClass]="{'item-interactive-disabled': !friend.ishere}">
                            <!-- User avatar -->
                            <ion-avatar slot="start" class="ios hydrated">
                                <ion-icon name="contact" class="friends-picture"></ion-icon>
                            </ion-avatar>
                            <!-- User informations -->
                            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                                <h2>
                                    {{ friend.name + ' ' + friend.surname }}
                                </h2>
                                <h3>
                                    <span class="circle-friend"
                                          [ngClass]="{'bg-success': friend.ishere, 'bg-medium': !friend.ishere }">
                                    </span>
                                    {{ (friend.ishere) ? 'Présent au festival' : 'Non présent au festival' }}
                                </h3>
                                <p>
                                    {{ friend.ishere ? 'Entré au' : 'Sorti du' }} festival
                                    à {{ this.datePipe.transform(friend.ishere_changed_at, 'h:mm') }}
                                </p>
                            </ion-label>
                            <!-- Action buttons -->
                            <ion-button class="btn-no-bg btn-no-shadow black-text" color="transparent" expand="block"
                                        size="small" float-right (click)="this.showContactInfo(friend.id)">
                                <ion-icon ios="ios-more" md="md-more"></ion-icon>
                            </ion-button>
                            <ion-button class="btn-no-bg btn-no-shadow black-text" color="transparent" expand="block"
                                        size="small" float-right (click)="this.deleteContact(friend.id)">
                                <ion-icon ios="ios-close" md="md-close"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ng-container>
                    <!-- User has no contacts -->
                    <ng-container *ngIf="user.friends.length === 0">
                        <p text-center>Vous n'avez pas encore de contacts</p>
                    </ng-container>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
