<ion-content>
    <ion-grid justify-content-center align-items-center>
        <ion-row justify-content-center align-items-center>
            <ion-col size="12">
                <ion-button size="large" (click)="goTo('addfriend')">Ajouter un contact</ion-button>
            </ion-col>
            <ion-col size="12">

                <h2>Amis</h2>
                <ion-list *ngIf="user !== null && user !== undefined">
                    <ion-item>
                        <div *ngIf="user.friends.length">
                            <ion-item *ngFor="let friend of user.friends">
                                <ion-label>{{ friend.name + " " + friend.surname }}</ion-label>
                            </ion-item>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
