.inner-scroll.scroll-y, .fixed, ion-refresher, ion-refresher-content {
    background-color: white !important;
}
ion-content { background-color: transparent !important; }

.ion-fab {
    position: relative;
    top: -20px;
    z-index: 999;

    ion-fab-button {
        width: 40px;
        height: 40px;
    }
}


