<ion-header>

</ion-header>

<ion-content class="flex flex-align-center flex-justify-center">
    <div *ngIf="user !== undefined && user !== null">
        <div *ngIf="user.role === 'security'">
            <div class="flex flex-align-center flex-justify-center flex-column flex-align-center mt-5">
                <ion-icon ios="ios-finger-print" md="md-finger-print" class="fingerprint flex-align-center"></ion-icon>
                <p class="ion-text-center mt-2">Madame, Monsieur,</p>
                <p class="ion-text-center mt-2">Merci d'entrer votre empreinte afin de vous authentifier et signaler votre arrivée/départ.</p>
                <ion-button class="mt-5" (click)="inout()">Signaler le départ/arrivée de Dardan (debug)</ion-button>
            </div>
        </div>
        <div *ngIf="user.role === 'user'" class="flex flex-align-center flex-justify-center h-100">
            <h2>Merci de vous être inscrit</h2>

            {{ user.name }}
            <button >Amis</button>
            <ion-button size="full" (click)="goTo('settings')">Home</ion-button>
            <ion-button size="full" (click)="goTo('friends')">Amis</ion-button>
            <ion-button size="full" (click)="goTo('settings')">Paramètres</ion-button>

            <!--        <ion-tabs>-->
            <!--            <ion-tab-bar slot="bottom">-->

            <!--                <ion-tab-button tab="main" (click)="goTo('main')">-->
            <!--                    <ion-icon name="md-home"></ion-icon>-->
            <!--                    <ion-label>Accueil</ion-label>-->
            <!--                </ion-tab-button>-->

            <!--                <ion-tab-button tab="friends" (click)="goTo('friends')">-->
            <!--                    <ion-icon name="md-people"></ion-icon>-->
            <!--                    <ion-label>Amis</ion-label>-->
            <!--                </ion-tab-button>-->

            <!--                <ion-tab-button tab="settings" (click)="goTo('settings')">-->
            <!--                    <ion-icon name="md-settings"></ion-icon>-->
            <!--                    <ion-label>Paramètres</ion-label>-->
            <!--                </ion-tab-button>-->
            <!--            </ion-tab-bar>-->
            <!--        </ion-tabs>-->
        </div>
    </div>
</ion-content>
