<ion-header>
    <ion-toolbar>
        <ion-title>Connexion</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="flex flex-align-center flex-justify-center">
    <div class="flex flex-align-center flex-justify-center flex-column flex-align-center mt-5">
        <ion-icon ios="ios-finger-print" md="md-finger-print" class="fingerprint flex-align-center"></ion-icon>
        <p class="ion-text-center mt-2">Veuillez s'il vous plaît entrer votre empreinte</p>
        <ion-button class="mt-5" (click)="goTo('main')">Passer sur la page MAIN (Debug)</ion-button>
    </div>
</ion-content>
