<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ng-container *ngIf="user !== undefined && user !== null">
            <ion-title class="ion-text-center">{{ user.name + ' ' + user.surname }}</ion-title>
        </ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="flex ion-justify-content-center ion-align-items-center">
        <ion-row class="flex flex-column ion-align-items-center ion-justify-content-center">
            <ion-avatar class="ion-text-center mb-4 align-self-center user-picture">
                <ion-icon name="contact" class="user-picture align-self-center"></ion-icon>
            </ion-avatar>
            <ng-container *ngIf="user !== undefined && user !== null">
                <h2>
                    {{ user.name + ' ' + user.surname }}
                </h2>
                <h3>
                    <span class="circle-user"
                          [ngClass]="{'bg-success': user.ishere, 'bg-medium': !user.ishere }"></span>
                    <ng-container *ngFor="let festivalAccess of user.festival_access">
                        <ng-container *ngIf="festivalAccess.ishere">
                            {{ 'Présent au festival de: ' + festivalAccess.name }}
                        </ng-container>
                    </ng-container>

                </h3>
                <p>
                    Inscrit depuis le {{ this.datePipe.transform(user.subscribed_since, 'dd.MM.yyyy') }}
                </p>
                <h4>
                    Festivals où il est passé:
                </h4>
                <ion-list>
                    <ion-item *ngFor="let festivalAccess of user.festival_access">
                        <strong>{{ festivalAccess.name }}&nbsp; </strong>
                        <p>le:  {{ this.datePipe.transform(festivalAccess.ishere_changed_at, 'medium')}}</p>
                    </ion-item>
                </ion-list>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>
